<form method="post" action="">
<table width="97%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr bgcolor="#E5E5E5"> 
    <td height="22" colspan="3" align="left" valign="middle"><strong>&nbsp;FTP Settings (required for Transaction Import)</strong></td>
  </tr>
  <tr> 
    <td height="22" width="20%" align="right" valign="middle">FTP Host Name:</td>
    <td width="70%" colspan="2" align="left"><input name="firstName" type="text" size="50"></td>
  </tr>
  <tr> 
    <td height="22" align="right" valign="middle">FTP Username:</td>
    <td colspan="2" align="left"><input name="lastName" type="text" size="50"></td>
  </tr>
  <tr> 
    <td height="22" align="right" valign="middle">FTP Password:</td>
    <td colspan="2" align="left"><input name="company" type="text" size="50"></td>
  </tr> 
  <tr> 
    <td height="22" align="right" valign="middle">&nbsp;</td>
    <td colspan="2" align="left">&nbsp;</td>
  </tr> 
  <tr> >&nbsp;</td>
 </td>
  </tr>

</table>
<p><input name="Submit" type="submit" value="Update FTP Settings&gt;&gt;"></p>
</form>