<div class="page page-lock" data-ng-controller="lockScreenCtrl as vm">
    <div class="lock-centered clearfix">
        <div class="lock-container">
            <!--<div ui-time class="lock-time"></div>-->
            <section class="logo text-center">
                <h3> Locked </h3>
                <i class="fa fa-lock fa-2x"></i>
            </section>
            <section class="lock-box">
                <div class="lock-user">{{main.name}}</div>
                <div class="lock-img"><img src="images/g1.jpg" alt=""></div>
                <div class="lock-pwd">
                    <form>
                        <div class="form-group">
                            <input type="password" data-ng-keyup="vm.enterLogin($event)" placeholder="Password" data-ng-model="vm.lockPassword" class="form-control" data-ng-class="{'input-danger': vm.lockPassword.length <=1}">
                            <a data-ng-click="vm.submitLogin()" class="btn-submit">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </form>
                </div>
              
            </section>
           


        </div>
      
    </div>
</div>