.left {
    float: left;
}

.right {
    float: right;
}

.spinner {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%; /* Rounds out the halo */
    opacity: .7; /* Some subtle opacity to help blend with variable background colors */
}

.spinner.medium {
    /*height: 30px; 
    width: 30px;
    background: url("../../../images/loading.gif")*/
    background: url("../../../images/loading.gif") no-repeat;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    opacity: 0.7;
    margin: auto;
}

.notif-popup {
    max-width: 40%!important;
    height: 30%!important;
    text-align: center;
}

.notif-popup #error-title {
    text-transform: uppercase;
    font-size: larger;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 70%;
    margin: 20px auto;
    border-radius: 10px;
}

form#register-form, 
form#forgot-password-form{
    font-weight: initial;
}

form#register-form em,
form#forgot-password-form em {
    color: red;
    font-size: small;
    font-weight: bold;
    display: block;
}

form#register-form.wizard > .steps > ul > li {
    text-transform: uppercase;
}

form#register-form.wizard > .steps li a {
    padding: 0.7em 0.7em!important;
}

@media (max-width: 870px) {
    form#register-form.wizard > .steps > ul > li {
        width: 100%;
    }
}

@media (min-width: 870px) {
    form#register-form.wizard > .steps > ul > li {
        width: 20%;
    }
}

@media (min-width: 400px) {
    form#register-form.wizard > .content > .body > .section-title > span {
        font-size: 16pt;
    }
}

@media (max-width: 740px) {
    .col-md-one-third {
        width: 100%!important;
    }
}

form#register-form.wizard > .steps > ul > li.disabled a {
    color: black;
}

form#register-form.wizard > .steps > ul > li.done a {
    background-color: #525252;
}

form#register-form.wizard > .content > .body {
    width: 100%; 
    height: 100%; 
    padding: 0%; 
}

form#register-form.wizard > .content > .body > .section-title {
    width: 100%;
    height: 10%;
    background-color: #E6E6E6;
}

form#register-form.wizard > .content > .body > .section-title > span {
    color: #1bb7a0;
    text-transform: uppercase;
    text-align: center;
}

form#register-form.wizard > .content > .body > .section-content {
    overflow-y: auto;
    padding: 0 4%;
    height: 90%;
    /*display: flex;
    align-items: center;*/
}

form#register-form.wizard > .content > .body > .section-content input,
form#forgot-password-form input {    
    color: #493C3C;
}

form#forgot-password-form input.error {
    background: #fbe3e4;
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

form#register-form.wizard > .content > .body > .section-content textarea.error {
    background: #fbe3e4;
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

form#register-form.wizard > .content > .body > .section-content textarea {
    resize: none;
    color: #493C3C;
}

form#register-form.wizard > .content > .body > .section-content span {    
    color: #1bb7a0;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

form#register-form.wizard > .content > .body > .section-content a > span{    
    display: inline;
}

form#register-form.wizard > .content > .body > .section-content ul > li,
form#register-form.wizard > .content > .body > .section-content a#btn_replicate_right,
form#register-form.wizard > .content > .body > .section-content a#btn_replicate_left {    
    display: block;
    margin: auto;
    margin-bottom: 15px;
    padding: 6px 12px;
    font-size: large;
}

.col-md-half {
    width: 48%;
    display: inline-block;
}

.col-md-half-right {
    float: right;
    padding-left: 2%;
}

.col-md-half-left {
    float: left;
    padding-right: 2%;
}

.col-md-one-third {
    width: 32%;
    display: inline-block;
    padding-left: 2%;
}

.col-md-fourty {
    width: 40%;
    display: inline-block;
}

.col-md-three-quarter {
    width: 75%;
    display: inline-block;
}

.no-padding {
    padding: 0;
}

/*form#register-form section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

form#register-form div.row{
    margin-bottom: 10px;
}

form#register-form .btn-block{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}*/