<div class="page" data-ng-controller="DashboardCtrl as vm">

    <div class="panel panel-default">
        <div class="panel-heading"><strong ><span class="glyphicon glyphicon-th"></span> Dashboard {{mycurrentcustomerName}}</b></strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ui-tab-container ui-tab-info ">
                        <!--{{vm.tabBillerSelected}}--> 
                        <tabset justified="true" class="ui-tab">

                            <!--ANGEL-->
                            <!--<tab heading="Biller" data-ng-if="vm.getTxnCount().billerAll > 0" data-ng-click="vm.setTabSelected(0)" active="vm.selectedBillerTab" disable="true">-->                            
                            <tab data-ng-if="nav || nav1 || nav2" data-ng-controller="MyBillerCtrl" heading="Biller" data-ng-click="vm.SelectDashboard(0)" active="true" disable="true">
							<ng-include src="'/templates/views/biller/billerDashboard.html'"></ng-include>

                            </tab>
							
                            <tab heading="Payor" data-ng-click="vm.SelectDashboard(1)" active="vm.selectedPayorTab" disable="vm.payorTabDisable">
                                <ng-include src="'/templates/views/payor/payorDashboard.html'"></ng-include>

                            </tab>
                        </tabset>
                        <div class="divider divider-md"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>
