<div class="nav-wrapper ng-scope">
    <div data-ng-controller="AppController" class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><ul id="nav" class="nav ng-scope"    style="overflow: hidden; width: auto; height: 100%;">
            <li>
                <a ui-sref="home"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard">Dashboard</span> </a>
            </li>
            <li>

                <a href=""><i class="fa fa-credit-card"></i><span data-i18n="Transactions">Transactions</span></a>
                <ul>

                    <!--                <li><a href="#/newTransaction/B">New Transaction</a></li>-->
                    <li><a ui-sref="newTransaction({id:'B'})">New Transaction (Biller)</a></li>
                    <li><a ui-sref="newTransactionP({id:'P'})">New Transaction (Payor)</a></li>
                    <li><a ui-sref="transactionList({id:'1'})">Pending Transaction(s)</a></li>
                    <li><a ui-sref="transactionList({id:'2'})">Verified Transaction(s)</a></li>
                    <li><a ui-sref="transactionList({id:'3'})">Approved Transaction(s)</a></li>
                    <li><a ui-sref="transactionList({id:'4'})">Disputed Transaction(s)</a></li>
                    <li><a href="#1">Approved with dispute</a></li>
                    <li><a href="#1">Return Transaction(s)</a></li>
                    <li><a href="#1">Canceled Transaction(s)</a></li>
                    <li><a  href="javascript:popup('templates/views/uploader/transactions.html','900','500')">Import Transactions</a></li>

                </ul>
                <i class="fa fa-caret-down icon-has-ul-h"></i><i class="fa fa-caret-right icon-has-ul"></i></li>

            <li data-ng-if="nav || nav4">
                <a href=""><i class="fa fa-cube"></i><span data-i18n="Biller(s)">Biller(s)</span></a>

                <ul>
                    <!--                <li><a href="#/billerList/">List of Billers</a></li>
                                    <li><a href="#/newBiller">Create Biller</a></li> -->
                    <li data-ng-if="nav || nav4"><a ui-sref=".billerList">List of Billers</a></li>
<!--                    <li><a ui-sref=".inviteBiller">Invite Biller</a></li>-->
                    <li data-ng-if="nav"><a ui-sref=".newBiller">Create Biller</a></li>
                    <li data-ng-if="nav"><a  href="javascript:popup('templates/views/uploader/billers.html','900','500')">Import Billers</a></li>

                </ul>
                <i class="fa fa-caret-down icon-has-ul-h"></i><i class="fa fa-caret-right icon-has-ul"></i></li>
            <li data-ng-if="nav || nav3">
                <a ui-sref=".payorList"><i class="fa fa-cubes"></i><span data-i18n="Payor(s)">Payor(s)</span></a>
                <ul> <li data-ng-if="nav || nav3"><a ui-sref=".payorList">List of Payors</a></li>

                    <li data-ng-if="nav"><a ui-sref=".invitePayor">Invite Payor</a></li>
                    <!--<li><a  ui-sref=".newPayor">Create Payor</a></li>-->
                    <li data-ng-if="nav"><a  href="javascript:popup('templates/views/uploader/payors.html','900','500')">Import Payors</a></li>
        
                </ul>
                <i class="fa fa-caret-down icon-has-ul-h"></i><i class="fa fa-caret-right icon-has-ul"></i></li>
            <li>

                <a  ui-sref=".newUser"><i class="fa fa-users"></i><span data-i18n="Users">Users</span></a>

                <ul>
                    <li><a ui-sref="user">List of Users</a></li>
                    <li data-ng-if="nav"><a ui-sref=".newUser">Create a User</a></li>
                    <li data-ng-if="nav"><a  href="javascript:popup('templates/views/uploader/users.html','900','500')">Import Users</a></li>

                </ul>
                <i class="fa fa-caret-down icon-has-ul-h"></i><i class="fa fa-caret-right icon-has-ul"></i></li>

            <li data-ng-if="nav">
                <a href="#"><i class="fa fa-file-text"></i><span data-i18n="Reports">Reports</span></a>
                <ul >
                    <li class="active"><a href="#">Payor Paid Report</a></li>
                    <li class="active"><a href="#">Biller Collected Report</a></li>
                    <li class="active"><a ui-sref="ach-report">ACH Report</a></li>
                     <li class="active"><a ui-sref="failed-import-report">Failed Import Report</a></li>
                    <li class="active"><a href="#">Merchant Report</a></li>
                    <li class="active"><a href="#">Credit Management Report</a></li>
                    <li class="active"><a href="#">Dispute </a></li>
                    <li class="active"><a href="#">Saved Custom Reports</a></li>
                </ul>
                <i class="fa fa-caret-down icon-has-ul-h"></i><i class="fa fa-caret-right icon-has-ul"></i></li>
            <li>
                <a ui-sref="company-profile"><i class="fa fa-bank"></i><span data-i18n="Company Profile">Company Profile</span></a>

                <ul>
                    <li><a ui-sref="company-profile">My Profile</a></li>
                     <li><a ui-sref="ftps-settings">FTP Settings</a></li>
                     <li ><a ui-sref="secure-paymentForm">Banking Info</a></li>
                     <li ><a ui-sref="credit_memo">Credit Memo</a></li>
                     <li data-ng-if="nav"><a href="javascript:popup('batchcreation','900','400')">Run Batch Creation</a></li>
					 <li data-ng-if="nav"><a href="javascript:popup('feescript','900','400')">Run Fee Script</a></li>
					 <li data-ng-if="nav"><a href="javascript:popup('nacha/create','900','400')">Create NACHA File</a></li>
                                        
                </ul>
                <i class="fa fa-caret-down icon-has-ul-h"></i><i class="fa fa-caret-right icon-has-ul"></i>
            </li>
            <li data-ng-if="nav" class="nav-task">
                <a ui-sref="tasks">
                    <i class="fa fa-tasks"></i><span data-i18n="Tasks">Tasks</span>
                    <span class="badge badge-danger main-badge ng-binding ng-hide" data-ng-show="taskRemainingCount > 0"></span>
                </a>
            </li>
			<li data-ng-if="nav">
                <a href=""><i class="fa fa-bank"></i><span data-i18n="Branches">Branches</span></a>
                <ul>
                    <li><a ui-sref="invite-branch"><i class="fa fa-caret-right"></i><span data-i18n="Invite Branch">Invite Branch</span></a></li>
					<li><a ui-sref="invite-branch"><i class="fa fa-caret-right"></i><span data-i18n="List of Branch">List of Branch</span></a></li>
                </ul>
                <i class="fa fa-caret-down icon-has-ul-h"></i><i class="fa fa-caret-right icon-has-ul"></i>
			</li>
            <li data-ng-if="nav">
                <a href=""><i class="fa fa-comments"></i><span data-i18n="Chat/Messages">Chat/Messages</span></a>
                <ul>
                    <li><a ui-sref="chat"><i class="fa fa-caret-right"></i><span data-i18n="Chats">Chats</span></a></li>
                    <li><a href="javascript:void(0)" ng-controller="InboxCtrl" ng-click="wemailLogin()"><i class="fa fa-caret-right"></i><span data-i18n="Messages">Messages</span></a></li>
                    
                </ul>
                <i class="fa fa-caret-down icon-has-ul-h"></i><i class="fa fa-caret-right icon-has-ul"></i>
			</li>
<!--            <li>
                <a href="#1"><i class="fa fa-cogs"></i><span data-i18n="Settings">Settings</span></a>
                <ul>
                    <li><a href="#1"><i class="fa fa-caret-right"></i><span data-i18n="Dashboard Stats">Dashboard Stats</span></a></li>
                    <li><a href="#1"><i class="fa fa-caret-right"></i><span data-i18n="Other2">Other2</span></a></li>
                    <li><a href="#1"><i class="fa fa-caret-right"></i><span data-i18n="Other3">Other3</span></a></li>
                </ul>
                <i class="fa fa-caret-down icon-has-ul-h"></i><i class="fa fa-caret-right icon-has-ul"></i></li>-->
        </ul><div class="slimScrollBar" style="width: 7px; position: absolute; top: 24px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 73px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
</div>
