<div class="page" data-ng-controller = "ComposeCtrl as vm">
    <div class="row">
        <div class="col-sm-3">
            <ng-include src="'/templates/views/mail/leftbar.html'"></ng-include>
        </div>
        <div class="col-sm-9">
            <section class="panel panel-default mail-container mail-compose">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Compose Mail</strong></div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="mail_to" class="col-xs-1">To:</label>
                            <div class="col-xs-10">
								<div auto-complete url="/api/search" model="data.tags"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mail_cc" class="col-xs-1">CC:</label>
                            <div class="col-xs-10">
                                <div auto-complete url="/api/search" model="data.cc"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mail_bcc" class="col-xs-1">BCC:</label>
                            <div class="col-xs-10">
                                <div auto-complete url="/api/search" model="data.bcc"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mail_subject" class="col-xs-1">Subject:</label>
                            <div class="col-xs-10">
                                <input type="text" id="mail_subject" ng-model="mail.subject" class="form-control">
                            </div>
                        </div>
                        <div text-angular ng-model="mail.mailContent" class="ui-editor"></div>
                    
                    <div class="mail-actions">
                        <div class="btn btn-sm btn-primary" ng-click="SendMail();">Send</div>
                        <!--<div class="btn btn-sm btn-default">Draft</div>
						<div class="btn btn-sm btn-default">Discard</div>-->
                    </div>
					</form>
                </div>
            </section>
        </div>
    </div>
</div>