<section class="panel panel-default mail-categories">
                <div class="panel-heading">
                    <a href="#/dashboard/compose" class="btn btn-block btn-lg btn-primary">Compose</a>
                </div>
                <ul class="list-group">
                    <li class="list-group-item active"><a href="#/dashboard/inbox">
                        <i class="fa fa-inbox"></i>Inbox
                        <span class="badge badge-info pull-right" ng-controller="CountInbox">{{inboxCount}}</span>
                    </a></li>
                    <li class="list-group-item"><a href="#/dashboard/sentitems">
                        <i class="fa fa-envelope-o"></i>Send mail
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        <i class="fa fa-comment-o"></i>Chat
                        <span class="badge badge-success pull-right">9</span>
                    </a></li>
                    <li class="list-group-item"><a href="#/dashboard/drafts">
                        <i class="fa fa-pencil"></i>Draft
                        <span class="badge badge-warning pull-right" ng-controller="CountDrafts">{{draftsCount}}</span>
                    </a></li>
                    <li class="list-group-item"><a href="#/dashboard/trash">
                        <i class="fa fa-trash-o"></i>Trash
                    </a></li>
					<li class="list-group-item"><a href="javascript:void(0)" ng-controller="InboxCtrl" ng-click="wemailLogout()">
                        <i class="fa fa-envelope-o"></i>Logout
                    </a></li>
                </ul>
            </section>

            <section class="panel panel-default mail-categories" style="display:none;">
                <div class="panel-heading">Label</div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="javascript:;">
                        Work <i class="fa fa-circle color-danger pull-right"></i>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        Friends <i class="fa fa-circle color-info pull-right"></i>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        Family <i class="fa fa-circle color-primary pull-right"></i>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        Private <i class="fa fa-circle color-warning pull-right"></i>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        Classmates <i class="fa fa-circle color-success pull-right"></i>
                    </a></li>
                </ul>
            </section>