<div class="page" data-ng-controller="payAnyBizTemplateCtrl as vm" data-ng-cloak>
    <ol class="breadcrumb-alt">
        <li><a href="#/dashboard">Home</a></li>
        <li class="active"><a href="">Chat</a></li>
    </ol>

    <div style="padding:5px; background-color:white;">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Title</div>
            <div class="panel-body">
                <div class="row col-md-12">


                    <!--Action Buttons -->
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <a data-ng-click="vm.goToDashboard()" class="btn btn-warning">Cancel</a>
                                <button type="button" class="btn btn-primary" data-ng-click="vm.save()"> <i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

