<div class="page" data-ng-controller="NewUserCSCtrl" data-ng-cloak>
    <ol class="breadcrumb-alt">
        <li><a href="#/dashboard/home">Home</a></li>
        <li><a href="#/dashboard/users">User List</a></li>
        <li class="active"><a href="">New User</a></li>
    </ol>
  <toaster-container toaster-options="{'position-class': 'toast-bottom-right','close-button':true}"></toaster-container>
    <div style="padding:5px; background-color:white;">

        <div class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>{{$parent.settings.pageTitle}}</strong></div>
            <div class="panel-body">
                <div class="row col-md-12">
                    <p data-ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>
                    <div class="row">

                        <form name="form_create_user" id="f_create_userid">
                            <fieldset>

                                <div class="divider"></div>
                                <div class="row col-md-12">
                                    <div class="form-group col-md-4">

                                        <div class="label-form">Name *</div>
                                        <input type="text" name="name" placeholder="" ng-pattern="/^[A-Za-z ]{2,30}$/" 
                                               class="form-control" data-ng-model="new.name" required/>
                                        <div class="info-custom">(e.g. this is an example Michael)</div>
                                        <span class="error-custom" data-ng-show="!form_create_user.name.$pristine && form_create_user.name.$error.required">The Name is required.</span>
                                        <span class="error-custom" data-ng-show=" form_create_user.name.$error.pattern">The format of  Name is invalid.</span>

                                    </div>
                                    <div class="form-group col-md-4">

                                        <div class="label-form">Last Name *</div>
                                        <input type="text" name="lastname" placeholder=""
                                               ng-pattern="/^[A-Za-z ]{2,30}$/" 
                                               class="form-control" data-ng-model="new.lastname" required/>
                                        <div class="info-custom">(e.g. this is an example Reyes)</div>
                                        <span class="error-custom" data-ng-show="!form_create_user.lastname.$pristine && form_create_user.lastname.$error.required">Last Name is required.</span>
                                        <span class="error-custom" data-ng-show=" form_create_user.lastname.$error.pattern">The format of Last Name is invalid.</span>


                                    </div>

                                    <div class="row col-md-4">
                                        <div class="col-md-8" style="margin-left: 50px;">
                                            <div class="label-form">Active</div>
                                            <label class="switch"><input type="checkbox" data-ng-model="new.active" checked><i></i></label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row col-md-12">
                                    <div class="form-group col-md-4">                                           
                                        <div class="label-form">User Name *</div>
                                        <input type="text" name="username" placeholder="User Name *" ng-pattern="/^[a-z][a-z0-9ü_]{4,25}$/"
                                               class="form-control" data-ng-model="new.username" requerid/>
                                        <div class="info-custom">(e.g. this is an example robert_1)</div>
                                        <span class="error-custom" data-ng-show="!form_create_user.username.$pristine && form_create_user.username.$error.required">Username is required.</span>
                                        <span class="error-custom" data-ng-show="form_create_user.username.$error.pattern">Invalid format (4 - 25 characters)</span>
                                        <span class="error-custom">{{message}}</span>

                                    </div>
                                    <div class="form-group col-md-4">                                           
                                        <div class="label-form">Email *</div>
                                        <input type="text" name="email"
                                               class="form-control"
                                               placeholder="" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/"  required
                                               data-ng-model="new.email" />
                                        <div class="info-custom">(e.g. this is an example email@example.com)</div>
                                        <span class="error-custom" data-ng-show="!form_create_user.email.$pristine && form_create_user.email.$error.required">Email is required.</span>
                                        <span class="error-custom" data-ng-show=" form_create_user.email.$error.pattern">Email is invalid.This is the format example@email.com </span>
                                        <span  class="error-custom">{{messageEmail}}</span>                              
                                    </div>
                                    
                                </div>                                   

                                <div class="row col-md-12">
                                    <div class="col-md-4" >
                                        <div class="label-form">Role</div>
										<select name="role" data-ng-model="new.role_id" class="form-control" required>
											<option value="">Select</option>
											<option value="3">User</option>
											<option value="8">Admin</option>
										</select>
										<span class="error-custom" data-ng-show="!form_create_user.role.$pristine && form_create_user.role.$error.required">Role is required.</span>
									<!-- <input type="text" name="phone"
                                               class="form-control"  ng-pattern="/^[0-9]{3}[-. ]?[0-9]{3}[-. ]?[0-9]{4}$/" 
                                               data-ng-model="vm.user.phone" /> 
                                       <span class="error-custom" data-ng-show="form_create_user.phone.$error.pattern">The format is invalid.This is a format ###-###-####</span> -->
									   <span class="error-custom">{{message}}</span>
                                    </div>
                                    <div class="col-md-4" >
                                        <input type="hidden" name="Name"
                                               class="form-control"
                                               data-ng-model="new.customer_current" />
                                    </div>
                                    <div class="col-md-4">
                                        <div class="pull-right">
                                            <a data-ng-click="cancel()" class="btn btn-warning">Cancel</a>
                                            <button type="button" class="btn btn-primary"  data-ng-disabled='!form_create_user.$valid' data-ng-click="createCSUser($parent.users)"> <i class="fa fa-save"></i>{{$parent.settings.action}}</button>
                                            <button data-ng-click="vm.goToUserSettings()" data-ng-show="vm.saved" class="btn btn-info"><span class="fa fa-cogs"></span> User Settings</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </fieldset>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
