<div class="page"  data-ng-cloak>
    <ol class="breadcrumb-alt">
        <li><a href="#/dashboard/home">Home</a></li>
        <li class="active"><a href="">Transactions List</a></li>
    </ol>

    <div style="padding:5px; background-color:white;" data-ng-controller="TxnBillerCtrl as vm">

        <div class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Transactions</strong></div>
            <div class="panel-body">
                <div class="row col-md-12">

                    <div class="row col-md-12 form-group">

                     <div class="row-space-top"></div>
                     <div class="col-sm-2">
                        <input type="text"
                           data-ng-model="quickSearch.$"
                           placeholder="quick search"
                           class="form-control">
                     </div>
					 <div class="col-sm-2">
						<select data-ng-model="customer_name" class="form-control" ng-change="showBillers()">
							<option ng-repeat="cust in customers" value="{{cust.id}}">{{cust.legal_name}}</option>
							<option value="">All</option>
						</select>
					</div>
					 <div class="col-sm-2">
						<select data-ng-model="customer_name_1" class="form-control" ng-change="showBillers()">
							<option ng-repeat="cust in customers" value="{{cust.id}}">{{cust.legal_name}}</option>
							<option value="">All</option>
						</select>
					</div>
					<div class="col-sm-2">
						<select data-ng-model="status" id="statusType" class="form-control" ng-change="showBillers()">
							<option value="">Select</option>
							<option ng-repeat="stat in status_types" value="{{stat.id}}">{{stat.description}}</option>
							<option value="">All</option>
						</select>
					</div>
                  </div>
                     <div class="col-md-12" style="display:none;">
                     <accordion close-others="false" class="ui-accordion ">
                        <accordion-group is-open="status.isFirstOpen1">
                           <accordion-heading>
                              <i data-ng-show="!status.isFirstOpen1" class="fa fa-plus-square-o "></i>
                              <i data-ng-show="status.isFirstOpen1" class="fa fa-minus-square-o "></i>
                              Advanced Search
                           </accordion-heading>
                           <div class="row">
                              <div class="col-md-3 form-group">
                                 <div class="label-form">Transaction #.</div>
                                 <input type="text"
                                    class="form-control"
                                    data-ng-model="vm.billervm.filterBy.numberCol"
                                    placeholder="" />
                              </div>
                              <div class="col-md-3">
                                 <div class="label-form">Related No.</div>
                                 <input type="text"
                                    class="form-control"
                                    data-ng-model="vm.billervm.filterBy.relatedNbrCol"
                                    placeholder="" />
                              </div>
                              <div class="col-md-3" data-ng-controller="MyPayorCurrentCtrl">
                                 <div class="label-form text-center">Payor</div>
                                 <span class="ui-select pull-right">
                                    <select data-ng-model="vm.billervm.filterBy.payorName"
                                       class="text-small"
                                       data-ng-options="customer.legal_name for customer in customers">
                                       <option value="">-- select payor --</option>
                                    </select>
                                 </span>
                              </div>
                               <div class="col-md-3" data-ng-controller="MyBillerCurrentCtrl">
                                 <div class="label-form text-center">Biller</div>
                                 <span class="ui-select pull-right">
                                    <select data-ng-model="vm.payorvm.filterBy.billerCol"
                                       data-ng-options="customer.legal_name for customer in customers">
                                       <option value="">-- select biller --</option>
                                    </select>
                                 </span>
                              </div>
                           </div>
                            
                           <div class="row">
                                <div class="col-md-3">
                                 <div class="label-form">Due date from:</div>
                                 <div class="input-group ui-datepicker">
                                    <input type="text"
                                       show-weeks="false"
                                       class="form-control"
                                       datepicker-popup="MM/dd/yyyy"
                                       data-ng-model="vm.billervm.filterBy.dueDateFromCol"
                                       is-open="vm.dueDateFromOpened"
                                       ng-click="vm.open($event, 'from')"
                                       close-text="Close">
                                    <span class="input-group-addon" ng-click="vm.open($event, 'from')"><i class="fa fa-calendar"></i></span>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="label-form">Due date to:</div>
                                 <div class="input-group ui-datepicker">
                                    <input type="text"
                                       show-weeks="false"
                                       class="form-control"
                                       datepicker-popup="MM/dd/yyyy"
                                       data-ng-model="vm.billervm.filterBy.dueDateToCol"
                                       is-open="vm.dueDateToOpened"
                                       ng-click="vm.open($event, 'to')"
                                       close-text="Close">
                                    <span class="input-group-addon" ng-click="vm.open($event, 'to')"><i class="fa fa-calendar"></i></span>
                                 </div>
                              </div>
                              <div class="col-md-3" data-ng-controller="BizAreaCtrl">
                                 <div class="label-form text-center">Category</div>
                                 <span class="ui-select pull-right">
                                    <select 
                                       ng-model="vm.billervm.filterBy.myArea"
                                       data-ng-options="bizarea.biz_area_description  for bizarea in biz_areass">
                                       <option value="">-- select category --</option>
                                    </select>
                                 </span>
                              </div>
                              <div class="col-md-3 " data-ng-controller="TransatypesCtrl">
                                 <div class="label-form text-center">Type</div>
                                 <span class="ui-select pull-right">
                                     <select 
                                       ng-model="vm.billervm.filterBy.myTransatype"
                                       ng-options="transatype.description  for transatype in transactions_types">
                                       <option value="">-- select type --</option>
                                    </select>
                                 </span>
                              </div>
                           </div>
                            <br/>
                           <div class="row">
                               <div class="col-md-8">
                                   
                               </div>
                              <div class="col-md-4">
                                 <div class="row pull-right">
                                    <!--<div title="{{vm.billervm.showSeletedBtnTitle}}" data-ng-click="vm.showSelectedTransactions(vm.billervm)" class="btn btn-default"><i data-ng-class="{'fa fa-check-square-o fa-2x':!vm.billervm.showingSeleted,'fa fa-list fa-2x':vm.billervm.showingSeleted}"></i></div>-->
                                    <div title="apply filter" data-ng-click="vm.search(vm.billervm)" class="btn btn-default align-middle"><i class="fa fa-filter fa-2x "></i></div>
                                    <div title="clear filter" data-ng-click="vm.clearFilter(vm.billervm)" class="btn btn-default" style="margin-right: 15px"><i class="fa fa-refresh fa-2x"></i></div>
                                 </div>
                              </div>
                           </div>
                        </accordion-group>
                     </accordion>
                  </div>


                    <div class="col-md-12">
      <section class="table-flip-scroll">
         <table id="biller_table" class="table table-bordered table-striped table-responsive ">
            <thead class="navbar-inverse">
               <tr class="th-font">
                  <th>
                     <i data-ng-show="!txn.detailsVisbile" class="fa fa-plus-square-o "></i>
                     <i data-ng-show="txn.detailsVisbile" class="fa fa-minus-square-o "></i>
                  </th>
                  <th>
                     <input type="checkbox" name="billerselectall" data-ng-model="vm.billervm.selectAllTransactions" data-a-ng-click="vm.billerSelectUnSelectAll()">
                  </th>
                  <th>Payor/Biller</th>
                  <th>Category</th>
                  <th>Type</th>
                  <th>Number</th>
                  <th>Due Date</th>
                  <th class="numeric">Amount</th>
                  <th>Related No.</th>
                  <th>Status</th>
                  <th>Payor Ref #</th>
                  <th>Actions</th>
               </tr>
            </thead>
            <tbody  data-ng-repeat="txn in filteredTodos | filter:quickSearch">
               <tr >
               <tr data-ng-class="{moseOverTr:txn.mouseOver}" data-ng-click="vm.setTxnMouseOverTrue(vm.billervm, txn)" data-ng-dblclick="vm.toggleDetail(vm.billervm, txn)">
                  <td style="cursor:pointer;" data-ng-click="vm.toggleDetail(txn)">
                     <i data-ng-show="!txn.detailsVisbile" class="fa fa-plus-square-o "></i>
                     <i data-ng-show="txn.detailsVisbile" class="fa fa-minus-square-o "></i>
                  </td>
                  <td>
                     <input type="checkbox" name="selected" data-ng-model="txn.selected" data-a-ng-click="vm.billerRefreshTransactionSelection(txn)">
                  </td>
                  <td style="display: none">{{txn.payor_id}}</td>
                  <td data-ng-controller="PayorDashbCtrl" style="display: none">{{PayorDashb}}</td>
				  <td>{{txn.legal_name}}</td>
                  <td style="display: none" >{{txn.biz_area_id}}</td>
                  <td data-ng-controller="BizAreaDasbCtrl">{{BizAreadashb.biz_area_description}}</td>
				  <td style="display: none">{{txn.biller_id}}</td>
                  <td style="display: none" >{{txn.transactions_types_id}}</td>
                  <td data-ng-controller="TransatypesDashbCtrl">
                     {{TransactionTypesDashb.description}}
                     <a data-ng-show="txn.transactions_types_id == 1" href="../../documents/bol.pdf" download="{{txn.number}}"><i class="fa fa-floppy-o"></i></a>
                     <a data-ng-show="txn.transactions_types_id == 2" href="../../documents/invoice.pdf" download="{{txn.number}}"><i class="fa fa-floppy-o"></i></a>
                  </td>
                 <td style="display: none">
                                            {{txn.type_desc}}
                                            <a data-ng-show="txn.transactions_types_id == 1" href="../../documents/bol.pdf" download><i class="fa fa-floppy-o"></i></a>
                                            <a data-ng-show="txn.transactions_types_id == 2" href="../../documents/invoice.pdf" download><i class="fa fa-floppy-o"></i></a>
                                        </td>
                                        <td>{{txn.number}}</td>
                                        <td>{{txn.due_date| date:'shortDate'}}</td>
                                        <td>{{txn.amount|currency}}</td>
                                        <td>{{txn.relatednumber}}</td>
                                        <td style="display: none" >{{txn.transactions_status_id}}</td>
                                        <td data-ng-controller="TransactionStatusCtrl">
                                            <span data-ng-class="{badge:true,'badge-success':txn.transactions_status_id == 3}" ng-show="txn.disputedrefnumber != null && txn.transactions_status_id == 3">Approved w/Disp</span>
                                            <span data-ng-class="{badge:true,'badge-warning':txn.transactions_status_id == 1}" ng-show="txn.transactions_status_id == 1">{{transaction_status[txn.transactions_status_id - 1].description}}</span>
                                            <span data-ng-class="{badge:true,'badge-info':txn.transactions_status_id === 2}" ng-show="txn.transactions_status_id == 2">{{transaction_status[txn.transactions_status_id - 1].description}}</span>
                                            <span data-ng-class="{badge:true,'badge-danger':txn.transactions_status_id == 4}" ng-show="txn.transactions_status_id == 4">{{transaction_status[txn.transactions_status_id - 1].description}}</span>
                                            <span data-ng-class="{badge:true,'badge-success':txn.transactions_status_id == 3}" ng-if="txn.disputedrefnumber == null && txn.transactions_status_id == 3" ng-show="txn.transactions_status_id == 3">{{transaction_status[txn.transactions_status_id - 1].description}}</span>
                                            <span data-ng-class="{badge:true,'badge-yellow':txn.transactions_status_id == 5}" ng-show="txn.transactions_status_id == 5">{{transaction_status[txn.transactions_status_id -1].description}}</span>
                                            <span data-ng-class="{badge:true,'badge-warning':txn.transactions_status_id == 6}" ng-show="txn.transactions_status_id == 6">{{transaction_status[txn.transactions_status_id -1].description}}</span>
                                            <span data-ng-class="{badge:true,'badge-danger':txn.transactions_status_id == 7}" ng-show="txn.transactions_status_id == 7">{{transaction_status[txn.transactions_status_id -1].description}}</span>
											<span data-ng-class="{badge:true,'badge-warning':txn.transactions_status_id == 8}" ng-show="txn.transactions_status_id == 8">{{transaction_status[txn.transactions_status_id -1].description}}</span>
                                        </td>
                  <td>{{txn.payorrefnumber}}</td>
                  <td>
                     <div class="btn-group" dropdown is-open="status.isopen1">
                        <button type="button" class="btn btn-default dropdown-toggle"> Action <span class="caret"></span> </button>
                        <ul class="dropdown-menu" role="menu">
                           <li data-ng-controller="AttachmentAllCtrl as vm">
                              <a data-ng-click="vm.loadAttachment(txn)">
                              <i class="doc-attachment-add "></i>
                              Add Attachment
                              </a>
                           </li>
                           <li data-ng-show="txn.transactions_status_id == 1">
                              <a data-ng-click="vm.goToDispute(txn)">
                              <i class="fa fa-gavel"></i>
                              Dispute
                              </a>
                           </li>
                           <li data-ng-show="txn.transactions_status_id == 2">
                              <a data-ng-click="vm.goToPayment(txn)">
                              <i class="fa fa-credit-card"></i>
                              Approve
                              </a>
                           </li>
                           <li data-ng-show="txn.transactions_status_id == 4">
                              <a data-ng-click="vm.goToAllowPartialPayment(txn)">
                              <i class="fa fa-star-half-o"></i>
                              Allow Partial Payment
                              </a>
                           </li>
                           <!--<li data-ng-show="txn.transactions_status_id == 4">
                              <a data-ng-click="vm.goToAllowPartialPayment(txn)">
                              <i class="fa fa-reply"></i>
                              Reply Dispute
                              </a>
                           </li>-->
                        </ul>
                     </div>
                     <ul data-ng-show="txn.attachment.length > 0" class="nav-right pull-right  list-unstyled">
                        <li class="dropdown">
                           <a href="javascript:;" class="dropdown-toggle bg-bright" data-toggle="dropdown">
                           <i class="fa fa-paperclip fa-2x "></i>
                           </a>
                           <div class="dropdown-menu pull-right with-arrow panel panel-default">
                              <div class="panel-heading-dark ">
                                 <span class="th-font">  Transaction #{{txn.number}} have {{txn.attachment.length}} attachment(s)</span>
                              </div>
                              <ul class="list-group">
                                 <li class="list-group-item">
                                    <div class="media-body">
                                       <section class="table-flip-scroll">
                                          <table class="table table-bordered table-striped cf">
                                             <thead class="cf">
                                                <tr>
                                                   <th>Attachment Type</th>
                                                   <th>Description</th>
                                                   <th>Created Date</th>
                                                   <th>Viewable to All</th>
                                                   <th>View</th>
                                                   <th>Delete</th>
                                                   <th>Email</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <tr data-ng-repeat="item in txn.attachment">
                                                   <td>{{txn.transactionType_description}}{{txn.number}}{{item.fileExtension}}</td>
                                                   <td>{{item.description}}</td>
                                                   <td> {{item.createdOn|date:'M/dd/yyyy'}}</td>
                                                   <td>
                                                      <div data-ng-if="item.viewableByOtherParty" style="cursor:pointer">  <i data-a-ng-click="vm.makePrivate(item,txn)" title="public document" class="fa fa-eye fa-2x"></i> </div>
                                                      <div data-ng-if="!item.viewableByOtherParty" style="cursor:pointer">  <i data-a-ng-click="vm.makePublic(item,txn)" title="private document" class="fa fa-eye-slash fa-2x"></i> </div>
                                                   </td>
                                                   <td>
                                                      <div style="cursor:pointer" data-a-ng-click="vm.downloadFile(item,txn)">
                                                         <i title="download"
                                                            data-ng-class="{'doc-word':(item.fileExtension == '.docx' || item.fileExtension == '.doc'),
                                                            'doc-pdf':item.fileExtension == '.pdf' ,
                                                            'doc-txt':item.fileExtension == '.txt' ,
                                                            'doc-excel':item.fileExtension == '.xls',
                                                            'doc-image':(item.fileExtension == '.jpeg' || item.fileExtension == '.jpg' || item.fileExtension == '.png'),
                                                            'doc-unknown':(item.fileExtension != '.docx' &&

                                                            item.fileExtension != '.doc' &&
                                                            item.fileExtension != '.pdf' &&
                                                            item.fileExtension != '.xls' &&
                                                            item.fileExtension != '.jpeg' &&
                                                            item.fileExtension != '.jpg' &&
                                                            item.fileExtension != '.png' &&
                                                            item.fileExtension != '.txt') }"></i>
                                                      </div>
                                                   </td>
                                                   <td>
                                                      <div style="cursor:pointer">  <i data-a-ng-click="vm.removeDocument(item,txn)" title="private document" class="fa fa-trash-o fa-2x"></i> </div>
                                                   </td>
                                                   <td>
                                                      <div style="cursor:pointer">  <i data-a-ng-click="vm.sendEmail(txn,1)" title="send as email" class="fa fa-envelope fa-2x"></i> </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </section>
                                    </div>
                                 </li>
                              </ul>
                              <div class="panel-footer navbar-inverse">
                              </div>
                           </div>
                        </li>
                     </ul>
                     <div data-ng-if="txn.isAttachmentLoad">
                        <script type="text/ng-template" id="attachment.html">
                           <div id="myModal" data-ng-controller="AttachmentAllCtrl as vm">
                           <div class="modal-header">
                           <h3>Upload Attachment for Transaction #{{vm.transaction.number}} <i class="fa fa-paperclip "></i></h3>
                           </div>
                           <div class="modal-body">{{items.data}}
                           
                           <div data-ng-show="vm.attachments.length > 0">
							<table class="tableAttachment">
                    <tr>
                        <td><b>Attachment Type</b></td>
                        <td><b>Description</b></td>
                        <td><b>Created Date</b></td>
                        <!--<td>Viewable to All</td>-->
                        <td>Options</td>
						<!--<td><b>View</b></td>
                        <td><b>Delete</b></td>
                        <td><b>Email</b></td>-->
                    </tr>
                    <tr data-ng-repeat="item in vm.attachments">
						<td width="25%">
							{{item.attachment_type_description}}
						</td>
                        <td width="25%">
                            {{item.description}}
                        </td>                        
                        <td width="25%">
                           {{ item.created | date:'M/dd/yyyy'}}
                        </td>
                        <!--<td>
                            <div data-ng-if="item.viewableByOtherParty" style="cursor:pointer">  <i data-a-ng-click="vm.makePrivate(item)" title="public document" class="fa fa-eye fa-2x"></i> </div>
                            <div data-ng-if="!item.viewableByOtherParty" style="cursor:pointer">  <i data-a-ng-click="vm.makePublic(item)" title="private document" class="fa fa-eye-slash fa-2x"></i> </div>
                        </td>-->
                        <td>

                            
							<a target="_blank" href="../{{item.path}}/{{item.file_name}}">
                                <i title="download" data-ng-class="{'doc-word':(item.file_extension=='.docx' || item.file_extension=='.doc' ),
                                                           'doc-pdf':item.file_extension=='.pdf' ,
                                                           'doc-txt':item.file_extension=='.txt' ,
                                                           'doc-excel':item.file_extension=='.xls',
                                                           'doc-image':(item.file_extension=='.jpeg' || item.file_extension=='.jpg' || item.file_extension=='.png'),
                                                           'doc-unknown':(item.file_extension!='.docx' &&
                                                                          item.file_extension!='.doc' &&
                                                                          item.file_extension!='.pdf' &&
                                                                          item.file_extension!='.xls' &&
                                                                          item.file_extension!='.jpeg' &&
                                                                          item.file_extension!='.jpg'  &&
                                                                          item.file_extension!='.png' &&
                                                                          item.file_extension!='.txt') }"></i></a>
                              <a target="_blank" data-a-ng-click="vm.removeDocument(item)"><i  title="private document" class="fa fa-trash-o fa-2x"></i></a> 
                        
                              <a target="_blank" data-a-ng-click="vm.sendEmail(vm.transaction,1)"><i  title="send as email" class="fa fa-envelope fa-2x"></i></a>
                        </td>

                    </tr>
                </table>
                           </div>
                           
                           <form enctype="multipart/form-data">
                           <progressbar data-ng-show="vm.showLoading" class="progressbar-sm progress-striped active" value="100">{{vm.loadingMsg}}</progressbar>
                           <div class="row">
                           <div class="col-md-12">
                           <div class="label-form">Attachment Type</div>
                           <span class="ui-select">
                           <select data-ng-model="vm.selectedattachmenttype"
                           class="input-inline-form"
                           data-ng-options="t.description for t in vm.attachmenttypes">
                           <option value="">-- select attachment type --</option>
                           </select>
                           </span>
                           </div>
                           </div>
                           <div class="row">
                           <div class="col-md-12">
                           <div class="label-form">Attachment Description</div>
                           <input type="text"
                           class="form-control"
                           data-ng-model="vm.fileDescription" />
                           <br />
                           <input type="file"
                           title="Choose File"
                           name="Attachment"
                           data-ui-file-upload class="btn-primary"
                           id="{{vm.transaction.id}}Attachmentfile"
                           onchange="angular.element(this).scope().vm.fileNameChaged(this)" />
                           <input data-ng-show="false" name="txnId" value="{{vm.transaction.id}}" type="text" />
                           </div>
                           </div>
                           </form>
                           </div>
                           <div class="modal-footer">
                           <button class="close" data-ng-click="vm.cancel()">Close</button>
                           </div>
                           </div>
                        </script>
                     </div>
                  </td>
               </tr>
               <tr data-ng-show="txn.detailsVisbile">
                  <td colspan="13">
                     <div data-ng-if="txn.detailsVisbile">
                        <ng-include src="'/templates/views/customer_services/transactionTmplt.html'"></ng-include>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
         <div class="navbar-inverse ">
            <div class="totalAmountCss th-font"><b>Total Amount selected : {{vm.billervm.totalSelectedAmount| currency}} </b></div>
         </div>
         <footer class="table-footer" >
            <div class="row">
               <div class="col-md-6 page-num-info">
                  <div ng-controller="BillerTxtCtrl" data-ng-show="isLoading" class="col-sm-6"><i class="fa fa-spinner fa-spin fa-2x"></i>Loading ...</div>
               </div>
               <div class="col-md-6 text-right pagination-container">
                  <pagination class="pagination-sm"
                     total-items="filteredItems" 
                     ng-model="currentPage"
                     data-current-page="currentPage"
                     items-per-page="entryLimit"  
                     boundary-links="true"></pagination>
               </div>
            </div>
         </footer>
      </section>
      <!--The below line created by Iblesoft-->
     
   </div>
                </div>
            </div>
        </div>
    </div>
</div>
