<div class="page" data-ng-controller="EditUserCSCtrl" data-ng-cloak>
    <div style="padding:5px; background-color:white;">
  <toaster-container toaster-options="{'position-class': 'toast-bottom-right','close-button':true}"></toaster-container>
        <div class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> User Detail</strong></div>
            <div class="panel-body">
                <div class="row col-md-12">

                    <div class="row">

                        <form name="form_edit_user" class="form-validation" novalidate data-ng-submit="submitForm()">
                            <fieldset>

                                <div class="divider"></div>
                                <div class="row col-md-12">
                                    <div class="form-group col-md-4">

                                        <div class="label-form">Name</div>
                                        <input type="text"
                                               class="form-control"
                                               name="name" placeholder="Name *" ng-pattern="/^[A-Za-z ]{2,30}$/" 
                                               data-ng-model="vm.user.name" required/>
                                        <span class="text-danger" data-ng-show="!form_edit_user.name.$pristine && form_edit_user.name.$error.required">The Name is required.</span>
                                        <span class="text-danger" data-ng-show=" form_edit_user.name.$error.pattern">The format of  Name is invalid.</span>

                                    </div>
                                    <div class="form-group col-md-4">

                                        <div class="label-form">Last Name</div>
                                        <input type="text"
                                               class="form-control" name="lastname" placeholder="Last Name *"
                                               ng-pattern="/^[A-Za-z ]{2,30}$/"
                                               data-ng-model="vm.user.lastname" required/>
                                        <span class="text-danger" data-ng-show="!form_edit_user.lastname.$pristine && form_edit_user.lastname.$error.required">Last Name is required.</span>
                                        <span class="text-danger" data-ng-show=" form_edit_user.lastname.$error.pattern">The format of Last Name is invalid.</span>

                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="label-form">Email</div>
                                        <input type="text" name="email"
                                               class="form-control"
                                               ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/"  required
                                               data-ng-model="vm.user.email" />
                                        <span class="text-danger" data-ng-show="!form_edit_user.email.$pristine && form_edit_user.email.$error.required">Email is required.</span>
                                        <span class="text-danger" data-ng-show=" form_edit_user.email.$error.pattern">Email is invalid.This is the format example@email.com </span>
                                        <span  class="text-danger">{{messageEmail}}</span> 
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="form-group col-md-4">
                                        <div class="label-form">User Name</div>
                                        <input type="text" name="username" 
                                               class="form-control"
                                               data-ng-class="" ng-pattern="/^[a-zA-Z0-9_]{4,25}$/"
                                               data-ng-model="vm.user.username"/>
                                       <span class="text-danger" data-ng-show="!form_edit_user.username.$pristine && form_edit_user.username.$error.required">Username is required.</span>
                                        <span class="text-danger" data-ng-show="form_edit_user.username.$error.pattern">Invalid format (6 - 25 characters)</span>
                                        <span class="text-danger">{{message}}</span>

                                    </div>
                                    <div class="form-group col-md-4">

                                        <div class="label-form">Telephone Number</div>
                                        <input type="text" name="phone"
                                               class="form-control"  ng-pattern="/^[0-9]{3}[-. ]?[0-9]{3}[-. ]?[0-9]{4}$/" 
                                               data-ng-model="vm.user.phone" />
                                       <span class="text-danger" data-ng-show="form_edit_user.phone.$error.pattern">The format is invalid.This is a format ###-###-####</span>

                                    </div>
                                    <div class="row col-md-4">
                                        <div class="col-md-4">
                                            <div class="label-form">Send Internal Messages</div>
                                            <label class="switch"><input type="checkbox" data-ng-model="vm.user.sendInternalMsg" checked><i></i></label>
                                        </div>
                                       
                                        <div class="col-md-4">
                                            <div class="label-form">Active</div>
                                            <label class="switch"><input type="checkbox" data-ng-model="vm.user.active" checked><i></i></label>
                                        </div>
										<div class="col-md-4">
                                            <div class="label-form">Lock/Unlock</div>
                                            <label class="switch"><input type="checkbox" ng-click="lockOrUnlock(user.is_locked)" data-ng-model="vm.user.is_locked"><i></i></label>
                                        </div>
                                    
                                    </div>
                                </div>

                                <div class="divider"></div>
                                <div class="col-md-12">
                                    <div class="btn-group pull-right">
                                        <button data-ng-click="cancel()" class="btn btn-warning">Cancel</button>
                                        <button data-ng-click="cancel()" class="btn btn-info" style="margin: 0px 5px;">Reset Password</button>
                                        <button type="button" class="btn btn-primary" data-ng-click="submit($parent.users)" data-ng-disabled='!form_edit_user.$valid'> <i class="fa fa-save"></i> Save</button>

                                    </div>
                                </div>
                                <hr />
                                <div class="row col-md-12">
                                    <div class="label-form">
                                        Email Notifications and Authorization Settings
                                    </div>
                                    <section class="table-flip-scroll">
                                        <table class="table table-bordered table-striped cf">
                                            <thead class="navbar-inverse">
                                                <tr class="th-font">
                                                    <th>Active</th>
                                                    <th>Notifications</th>
                                                    <th>Email Remainder</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form">New Pending Transaction</div>
                                                        <span class="info-blue-custom">(Notification of a Newly Created Pending Transaction)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form"> Verified Transaction</div>
                                                        <span class="info-blue-custom">(Notification of a Newly Created Pending Transaction)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form"> Approved Transaction</div>
                                                        <span class="info-blue-custom">(Notification of a Transaction that has been Approved)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form"> Verified Transaction</div>
                                                        <span class="info-blue-custom">(Notification of a Newly Created Pending Transaction)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form"> Dispute Reply</div>
                                                        <span class="info-blue-custom">(Notification of Dispute Reply from Biller)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form"> Dispute</div>
                                                        <span class="info-blue-custom">(Notification of a New Dispute)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form"> Add  & Edit  Attachments</div>
                                                        <span class="info-blue-custom">(Notification of added or edited Attachment(s))</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form"> Group of Transaction</div>
                                                        <span class="info-blue-custom">(Notification when a group of Transactions changed statuses)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form"> Transaction Change</div>
                                                        <span class="info-blue-custom">(Notification when a transaction changes)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form"> New Branch Office Request</div>
                                                        <span class="info-blue-custom">(A request from one of your  Branch Office)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form"> Branch Office Acceptance/Rejection</div>
                                                        <span class="info-blue-custom">(An acceptance or rejection from a Branch Office)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form"> New Biller Notification</div>
                                                        <span class="info-blue-custom">(A Biller has connected with your company)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form"> Due Date Notification</div>
                                                        <span class="info-blue-custom">(Warning of an up and coming Due Date)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form">Debit Bank Account Notification</div>
                                                        <span class="info-blue-custom">(Advising of a bank debit of a previously approved trans)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form">Payment Method Notification</div>
                                                        <span class="info-blue-custom">(If there is an issue with a payment method, i.e. expired credit card, updated financial request)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form">Payor Created Biller</div>
                                                        <span class="info-blue-custom">(A payor creates a biller to send them a payment)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form">Fully Registered Biller</div>
                                                        <span class="info-blue-custom">(A Payor Created Biller converting to a fully registered Biller)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form">Biller Connection</div>
                                                        <span class="info-blue-custom">(Payor Connected with Biller)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form">Biller Connection/Rejection</div>
                                                        <span class="info-blue-custom">(Biller rejected the connection with Payor)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form">Internal notification</div>
                                                        <span class="info-blue-custom">(Notification of an internal message)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form">Internal / Response notification</div>
                                                        <span class="info-blue-custom">(Notification of a response to an intial internal message)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form">External notification</div>
                                                        <span class="info-blue-custom">(Notification of an external message)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form">External /Response notification</div>
                                                        <span class="info-blue-custom">(Notification of a response to an intial external message)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form">Task Notification</div>
                                                        <span class="info-blue-custom">(Notification of a Task request)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" data-ng-model="vm.chk1" checked>
                                                    </td>
                                                    <td>
                                                        <div class="label-form">Task Complete Notification</div>
                                                        <span class="info-blue-custom">(Notification of a Completed Task)</span>
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="email remainder"
                                                               data-ng-class="{ 'alert-error': !vm.validator.validateObject.emailIsValid }"
                                                               data-ng-model="vm.email1" />
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </section>
                                </div>




                                <div class="col-md-12">
                                    <div class="btn-group pull-right">
                                        <button data-ng-click="vm.goToDashboard()" class="btn btn-warning">Cancel</button>
                                        <button data-ng-click="vm.save()" class=" btn btn-primary"><span class="fa fa-save"></span> Save</button>

                                    </div>
                                </div>
                            </fieldset>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
