<section data-ng-controller="createInvoiceCtrl as vm">
    <nav>
        <div id="jCrumbs" class="breadCrumb module">
            <ul>
                <li>
                    <a href="#"><i class="icon-home"></i></a>
                </li>
                <li>
                    <a href="#/dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row-fluid">
        <div class="span6">
            <form class="form-horizontal well">
                <fieldset>

                    <p class="f_legend">{{vm.title}}</p>

                </fieldset>
            </form>
        </div>
    </div>
</section>
